* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", sans-serif;
}

body {
  background-color: #f5f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 60px 120px;
}

.container {
  width: 400px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  border: 2px solid #000;
}

.content {
  padding: 20px;
}

.header-img {
  width: 100%;
}

textarea,
.translation-box {
  width: 100%;
  border: 1px solid #eff0f4;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  background-color: #eff0f4;
  resize: none;
  margin-top: 10px;
}

.translation-box {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-to-translate {
  color: #035a9d;
  font-weight: 700;
  font-size: 18px;
}

h3 {
  color: #035a9d;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.flag-icon {
  width: 20px;
  height: auto;
  border: 1px solid black;
}

.language-selector {
  text-align: left;
  margin-left: 20px;
}

.languages {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  margin-top: 10px;
}

.language-option {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  font-size: 16;
}

.language-option input {
  accent-color: #035a9d;
}

.btn-translate,
.btn-start-over {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s ease;
  background-color: #035a9d;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.translation {
  margin: 10px;
}

.error-message {
  color: #d93025;
  background: #ffe5e0;
  border-radius: 6px;
  padding: 8px;
  margin-top: 10px;
  text-align: center;
}

.loader {
  margin-top: 10px;
  text-align: center;
}

.loader p {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #444;
}

@media (max-width: 700px) {
  .app-container {
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

  .container {
    width: 90%;
  }
}
